<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cocosw.bottomsheet.example">
    <application android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="@string/bottomsheet"
        tools:ignore="AllowBackup"
        android:supportsRtl="true">
        <activity android:name=".Main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListAcitivty"/>

        </application>
</manifest>

